.text-logo{
    color:red;
    font-size:20px;
}
.logo-main-pic{
    top: 20px;
    float:right;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 10px;
    max-width:50%;
    max-height:50%;
}
/* Layout
***********************/
#container {padding: 10px 40px 10px;}
header {width: 420px; }
#main {margin-right: 50px; margin-left: 50px; overflow: hidden;}
aside h3 {float: left;}
.video{
    margin: 0 auto;
    width: 600px;
    height: 400px;
}

